/pkg
/.idea
!/target/.keep
/target/*
Gemfile.lock
/contrib/modules/*
/.vagrant/
/contrib/.librarian/
/contrib/.tmp/
/contrib/Puppetfile.lock
/.tmp/
/.dependencies/
/.librarian/
/contrib/manifests/site.pp
